html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

audio, canvas, iframe, img, svg, video {
	vertical-align: middle;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}

.hidden, [hidden] {
	display: none !important;
}

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

html {
	font-size: 62.5%;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, ul, li, form, fieldset, legend, address, figure, hr, object, iframe, img, button, input, select, textarea, label, a, span, em, strong, small, sub, sup, table, caption, thead, tbody, tfoot, tr, th, td, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}

ul, ol, dl {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
	background: none;
	cursor: pointer;
}

input, select, textarea {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

input[type="radio"], input[type="checkbox"], select {
	cursor: pointer;
}

body {
	font-family: 'Noto Sans KR', sans-serif;
	overflow: hidden;
	overflow-y: auto;
	padding-left: calc(100vw - 100%);
}

body.modal-active {
	overflow-y: hidden;
}

#wrap {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	overflow-x: hidden;
	z-index: 15;
}

header {
	width: 100%;
	background: #fff;
}

header h1 {
	width: 100%;
	height: 13rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 a {
	display: block;
	width: 9.4rem;
	height: 7rem;
	background: url(../img/logo.png) no-repeat center center/contain;
}

header nav {
	width: 100%;
	height: 9rem;
}

header nav ul {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
}

header nav ul li {
	width: 18rem;
	height: 100%;
	background: #9f7d5f;
}

header nav ul li:not(:last-child){
	border-right: 0.1rem solid #bfa98d;
}

header nav ul li:hover,
header nav ul li.active {
	box-shadow: inset 0 0 0 18rem #ce412d;
}

header nav ul li a {
	display: block;
	width: 100%;
	height: 100%;
}

header nav ul .nav-event1.active a,
header nav ul .nav-event2.active a,
header nav ul .nav-event3.active a{
	background-position: 50% 40%;
}

header nav .nav-event1 a {
	background: url(../img/nav1-off.png) no-repeat center center/10.8rem 2.4rem;
}

header nav .nav-event2 a {
	background: url(../img/nav2-off.png) no-repeat center center/11.4rem 2.3rem;
}

header nav .nav-event3 a {
	background: url(../img/nav3-off.png) no-repeat center center/11.4rem 2.3rem;
}

header nav .nav-buy a {
	background: url(../img/nav4-off.png) no-repeat center center/10.0rem 2.6rem;
}

header nav .nav-event1.active a {
	background: url(../img/nav1-on.png) no-repeat center center/10.8rem 4.0rem;
}

header nav .nav-event2.active a {
	background: url(../img/nav2-on.png) no-repeat center center/11.4rem 4.0rem;
}

header nav .nav-event3.active a {
	background: url(../img/nav3-on.png) no-repeat center center/11.4rem 4.0rem;
}

header nav .nav-buy:active a {
	/* background: url(../img/nav4-on.png) no-repeat center center/8.5rem 2.5rem; */
}

header.fixed h1 {
	margin-bottom: 9rem;
}

header.fixed nav {
	position: fixed;
	top: 0;
	width: 100%;
	max-width: 720px;
	z-index: 10;
}

main {
	width: 100%;
	height: 100%;
	background: url(../img/main-bg.png) no-repeat no-repeat center /74.7rem 1170rem;
}

main section {
	width: 100%;
	position: relative;
}

main section:after{
	content: "";
	display: inline-block;
	position: absolute;
	right: 0;	top: 0;
}

main section::before{
	content: "";
	display: inline-block;
	position: absolute;
	left: 0;	bottom: 0;
	margin-top: 5rem;
}

main section .title-main {
	width: 100%;
	position: relative;
	margin-bottom: 4.0rem;
}

main section .title-sub {
	width: 100%;
}

.button-type1 {
	display: block;
	width: 27.4rem;
	height: 8.5rem;
	background: url(../img/button-background1.png) no-repeat center center/27.4rem 8.5rem;
	margin: 0 auto;
}

.button-type1:hover {
	box-shadow: inset 0 0 0 42rem rgba(0, 0, 0, 0.1);
}

.button-type1:active::after {
	position: relative;
	top: 0.3rem;
	left: 0.3rem;
}

.button-type2 {
	display: block;
	width: 30.5rem;
	height: 8.5rem;
	background: url(../img/button-background2.png) no-repeat center center/30.5rem 8.5rem;
	margin: 0 auto;
}

.button-type2:hover {
	box-shadow: inset 0 0 0 32.9rem rgba(0, 0, 0, 0.1);
}

.button-type2:active {
	box-shadow: inset 0 0 0 7.6rem rgba(0, 0, 0, 0.1);
}

.button-type2:active::after {
	position: relative;
	top: 0.3rem;
	left: 0.5rem;
}

.button-type3 {
	display: block;
	width: 30.4rem;
	height: 8.5rem;
	background: url(../img/button-background3.png) no-repeat center center/30.4rem 8.5rem;
	margin: 0 0.4rem;
}

.button-type3:hover {
	box-shadow: inset 0 0 0 30.3rem rgba(0, 0, 0, 0.1);
}

.button-type3:active::after {
	position: relative;
	top: 0.3rem;
	left: 0.5rem;
}

.button-type4 {
	display: block;
	width: 17.6rem;
	height: 8.5rem;
	background: url(../img/button-background4.png) no-repeat center center/17.6rem 8.5rem;
	margin: 0 0.4rem;
}

.button-type4:hover {
	box-shadow: inset 0 0 0 19.9rem rgba(0, 0, 0, 0.1);
}

.button-type4:active::after {
	position: relative;
	top: 0.3rem;
	left: 0.3rem;
}

.section-prize {
	width: 100%;
	position: relative;
	padding-top: 8.0rem;
}

.section-prize:after {
	content: '';
	width: 58.6rem;
	height: 3.5rem;
	background: url(../img/line.png) no-repeat top center/contain;
	position: absolute;
	left: 50%; top: 0;
	transform: translateX(-50%);
}

.section-prize h4 {
	width: 15.9rem;
	height: 3.4rem;
	background: url(../img/prize-title.png) no-repeat center center/contain;
	margin: 0 auto;
}

.kv {
	height: 91.0rem;
	background: url(../img/kv-background.png) no-repeat center top/cover;
	position: relative;
	padding-top: 4.5rem;
}

.kv h2 {
	width: 51.5rem;
	height: 36.9rem;
	margin: 0 auto;
	background: url(../img/kv-title.png) no-repeat center center/contain;
}

.kv p {
	width: 57.2rem;
	height: 18.3rem;
	background: url(../img/kv-image.png) no-repeat center center/contain;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-bottom: 3rem;
	margin-right: -3.2rem;
	z-index: 5;
}

.event1{
	height: 228rem;
	background: url(../img/event1-background.png) no-repeat no-repeat center 10.0rem/66.6rem 218rem;;
}

.event1:after{
	width: 12.1rem;
	height: 12.3rem;
	background: url(../img/event1-decoration.png) no-repeat center center/contain;
	margin-top: 6rem;
}

.event1::before{
	width: 37.6rem;
	height: 34.1rem;
	background: url(../img/event1-decoration2.png) no-repeat center center/contain;
	bottom: -12rem;
	left: -15.7rem;
	z-index: 1;
}

.event1 .title-main {
	height: 35.0rem;
	background: url(../img/event1-title.png) no-repeat no-repeat center 6.0rem/38.4rem 28.2rem;
}

.event1 .title-sub {
	height: 5.5rem;
	background: url(../img/event1-text1.png) no-repeat center center/contain;
	margin-bottom: 5rem;
}

.event1 .video-embed {
	position: relative;
	width: 57.6rem;
	height: 32.4rem;
	margin: 0 auto 6rem;
}

.event1 .video-embed .movie-thumb {
	position: absolute;
	width: 100%;
	height: 100%;
}

.event1 .video-embed .movie-thumb::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(../img/event1-video-button.svg#normal) no-repeat center center/13.1rem 9.1rem;
}

.event1 .video-embed .movie-thumb:hover::after {
	background: url(../img/event1-video-button.svg#hover) no-repeat center center/13.1rem 9.1rem;
}

.event1 .video-embed .movie-thumb > img {
	width: 100%;
	height: 100%;
}

.event1 .video-embed > #youTubePlayer1 {
	width: 100%;
	height: 100%;
}

.event1 .button-event1 {
	margin: 0 auto 8rem;
}

.event1 .button-event1::after {
	content: "";
	display: inline-block;
	width: 18.4rem;
	height: 3.2rem;
	background: url(../img/event1-button1.png) no-repeat center center/contain;
}

.event1 .section-prize > div {
	margin: 5rem auto 7rem;
}

.event1 .section-prize .prize1{
	width: 28.1rem;
	height: 29.6rem;
	background: url(../img/event1-prize1.png) no-repeat center center/contain;
}

.event1 .section-prize .prize2{
	width: 27.7rem;
	height: 25.7rem;
	background: url(../img/event1-prize2.png) no-repeat center center/contain;
}

.event1 .section-prize .prize3{
	width: 37.2rem;
	height: 27.6rem;
	background: url(../img/event1-prize3.png) no-repeat center center/contain;
	margin: 5rem auto 7rem 20rem;
}

.event2{
	height: 184.1rem;
	background: url(../img/event2-background.png) no-repeat no-repeat center 10.0rem/66.6rem 173.1rem;;
}

.event2:after {
	width: 12.8rem;
	height: 9.6rem;
	background: url(../img/event2-decoration.png) no-repeat center center/contain;
	margin-top: 7rem;
}

.event2 .title-main {
	height: 35.0rem;
	background: url(../img/event2-title.png) no-repeat no-repeat center 6.0rem/37.4rem 28.2rem;
}

.event2 .title-sub {
	height: 5.5rem;
	background: url(../img/event2-text1.png) no-repeat center center/contain;
	margin-bottom: 4rem;
}

.event2 .event-kit{
	height: 41.9rem;
	background: url(../img/event2-kit.png) no-repeat center center/contain;
	margin-bottom: 4.5rem;
}

.event2 .button-event2 {
	margin: 0 auto 8rem;
}

.event2 .button-event2::after {
	content: "";
	display: inline-block;
	width: 21.5rem;
	height: 3.2rem;
	background: url(../img/event2-button1.png) no-repeat center center/contain;
}

.event2 .section-prize h4{
	width: 41.3rem;
	height: 3.2rem;
	background: url(../img/prize-title2.png) no-repeat center center/contain;
}

.event2 .section-prize .prize-wrap{
	display: flex;
	flex-wrap: wrap;
	width: 61rem;
	margin: 0 auto;
}

.event2 .section-prize .prize-wrap > div {
	margin: 7rem auto 0rem;
}

.event2 .section-prize .prize-wrap .prize1{
	width: 46.1rem;
	height: 42.3rem;
	background: url(../img/event2-prize1.png) no-repeat center center/contain;
}

.playhouse .title-main {
	height: 24.2rem;
	background: url(../img/playhouse-title.png) no-repeat center center/56.2rem 22rem, #7dbae9;
}

.playhouse .playhouse-desc {
	width: 60.5rem;
	height: 44.1rem;
	background: url(../img/playhouse-image1.png) no-repeat center center/contain;
	margin: 0 auto 5rem;
}

.playhouse .section1 h4 {
	width: 36.8rem;
	height: 13.8rem;
	background: url(../img/playhouse-text1.png) no-repeat center center/contain;
	margin: 0 auto 5rem;
}

.playhouse .section1 p {
	width: 44rem;
	height: 26.6rem;
	background: url(../img/playhouse-image2.png) no-repeat center center/contain;
	margin: 0 auto 8rem;
}

.playhouse .section2 {
	height: 43rem;
	background: url(../img/playhouse-image3.png) no-repeat center bottom/58rem 40rem;
	margin: 0 auto 8rem;
}

.playhouse .section2 h4 {
	width: 22.2rem;
	height: 6.6rem;
	background: url(../img/playhouse-title2.png) no-repeat center center/contain;
	margin: 0 auto 3.8rem;
}

.playhouse .section2 ul {
	margin-left: 9.7rem;
}

.playhouse .section2 ul li:first-of-type {
	width: 48.7rem;
	height: 5.6rem;
	background: url(../img/playhouse-text2.png) no-repeat center center/contain;
	margin-bottom: 3.8rem;
}

.playhouse .section2 ul li:nth-of-type(2) {
	width: 53.3rem;
	height: 5.6rem;
	background: url(../img/playhouse-text3.png) no-repeat center center/contain;
	margin-bottom: 3.8rem;
}

.playhouse .section2 ul li:last-of-type {
	width: 51.1rem;
	height: 8.9rem;
	background: url(../img/playhouse-text4.png) no-repeat center center/contain;
}

.event3{
	height: 398rem;
	background: url(../img/event3-background.png) no-repeat no-repeat center 10.0rem/66.6rem 304.3rem;;
}

.event3:after {
	width: 35.9rem;
	height: 40.9rem;
	background: url(../img/event3-decoration.png) no-repeat center center/contain;
	top: -18rem;
	right: -18rem;
	z-index: 1;
}

.event3 .title-main {
	height: 35.0rem;
	background: url(../img/event3-title.png) no-repeat no-repeat center 6.0rem/24.2rem 28.2rem;
}

.event3 .title-sub {
	height: 5.5rem;
	background: url(../img/event3-text1.png) no-repeat center center/contain;
	margin-bottom: 3.5rem;
}

.event3 .section1 ol {
	width: 100%;
	position: relative;
	height: 29.5rem;
	margin-bottom: 4.5rem;
}

.event3 .section1 ol li{
	margin: 1rem auto 0 12rem;
}

.event3 .section1 ol li:first-child {
	width: 45.3rem;
	height: 15.9rem;
	background: url(../img/event3-text2.png) no-repeat center top/contain;
}

.event3 .section1 ol li:last-child {
	width: 49.3rem;
	height: 12.8rem;
	background: url(../img/event3-text3.png) no-repeat center top/contain;
}

.event3 .section1 p {
	width: 60.2rem;
	height: 17.8rem;
	background: url(../img/event3-text4.png) no-repeat center center/contain;
	margin: 0 auto 8rem;
}

.event3 .section2 {
	margin: 0 auto 8rem;
}

.event3 .section2 h4 {
	width: 31.9rem;
	height: 3.8rem;
	background: url(../img/event3-title3.png) no-repeat center center/contain;
	margin: 0 auto 4rem;
}

.event3 .section2 p {
	width: 53.9rem;
	height: 8.8rem;
	background: url(../img/event3-text5.png) no-repeat center center/contain;
	margin: 0 auto 5rem;
}

.event3 .button-event3-1 {
	margin: 0 auto;
}

.event3 .button-event3-1::after {
	content: "";
	display: inline-block;
	width: 24.2rem;
	height: 3.2rem;
	background: url(../img/event3-button1.png) no-repeat center center/contain;
}

.event3 .gallery{
	width: 100%;
	position: relative;
	padding-top: 8.0rem;
	margin-bottom: 7.8rem;
}

.event3 .gallery:after{
	content: '';
	width: 58.6rem;
	height: 3.5rem;
	background: url(../img/line.png) no-repeat top center/contain;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.event3 .gallery h4 {
	width: 31.3rem;
	height: 3.1rem;
	background: url(../img/event3-title4.png) no-repeat center center/contain;
	margin: 0 auto 4.2rem;
}

.event3 .gallery .gallery-list {
	width: 100%;
	padding: 0 7.9rem 0 8.8rem;
	margin-bottom: 5rem;
}

.event3 .gallery .gallery-list-container{
	height: 56rem;
}

.event3 .gallery .gallery-list ul {
	width: 100%;
	height: 48.5rem;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.event3 .gallery .gallery-list ul::-webkit-scrollbar {
	width: 1.1rem;
}

.event3 .gallery .gallery-list ul::-webkit-scrollbar-thumb {
	background: #4a6dbd;
}

.event3 .gallery .gallery-list ul::-webkit-scrollbar-track {
	background: #ddd;
}

.event3 .gallery .gallery-list ul li {
	width: 15.6rem;
	height: 15.6rem;
	margin: 0 1rem 1rem 0;
	display: inline-block;
}

.event3 .gallery .gallery-list ul li button {
	width: 100%;
	height: 100%;
}

.event3 .gallery .gallery-list ul li button img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-list-container .swiper-pagination,
.gallery-list-container .swiper-pagination2{
	position: absolute;
	text-align: center;
	-webkit-transition: .3s opacity;
	-o-transition: .3s opacity;
	transition: .3s opacity;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	z-index: 10;
	bottom: 1.5rem;
	left: 0;
	width: 100%;
	height: 2.718rem;
}

.gallery-list-container .swiper-pagination2{
	display: none;
}

.gallery-list-container .swiper-pagination .swiper-pagination-bullet,
.gallery-list-container .swiper-pagination2 .swiper-pagination-bullet{
	width: 2.718rem;
	height: 2.718rem;
	background-color: #eae2d6;
	margin: 0 0.7rem;
	opacity: 1;
}

.gallery-list-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active,
.gallery-list-container .swiper-pagination2 .swiper-pagination-bullet.swiper-pagination-bullet-active{
	background-color: #c6341f;
}

.gallery-list-container .swiper-button-prev,
.gallery-list-container .swiper-button-next{
	top: auto;
	bottom: 2rem;
	width: 1.4rem;
	height: 1.4rem;
	background-size: 1.4rem 1.4rem;
	margin-top: 0;
}

.gallery-list-container .swiper-button-prev{
	background-image: url(../img/gallery-prev.svg#enable);
	left: 14rem;
}

.gallery-list-container .swiper-button-next{
	background-image: url(../img/gallery-next.svg#enable);
	right: 14rem;
}

/* .gallery-list-container .swiper-button-prev.swiper-button-disabled,
.gallery-list-container .swiper-button-next.swiper-button-disabled{
	opacity: 1;
}

.gallery-list-container .swiper-button-prev.swiper-button-disabled{
	background-image: url(../img/gallery-prev.svg);
}

.gallery-list-container .swiper-button-next.swiper-button-disabled{
	background-image: url(../img/gallery-next.svg);
} */

.event3 .button-event3-2 {
	margin: 0 auto;
}

.event3 .button-event3-2::after {
	content: "";
	display: inline-block;
	width: 24.5rem;
	height: 3.2rem;
	background: url(../img/event3-button2.png) no-repeat center center/contain;
}

.event3 .section-prize:before {
	content: '';
	width: 12.6rem;
	height: 9rem;
	background: url(../img/event3-decoration2.png) no-repeat top center/contain;
	position: absolute;
	left: 0; bottom: 0;
	margin-bottom: -11rem;
}

.event3 .section-prize > div {
	margin: 4rem auto 7rem;
}

.event3 .section-prize .prize1{
	width: 29.9rem;
	height: 23.4rem;
	background: url(../img/event3-prize1.png) no-repeat center center/contain;
}

.event3 .section-prize .prize2{
	width: 31.2em;
	height: 18.2rem;
	background: url(../img/event3-prize2.png) no-repeat center center/contain;
}

.event3 .section-prize .prize3{
	width: 24.7rem;
	height: 22.4rem;
	background: url(../img/event3-prize3.png) no-repeat center center/contain;
}

.event3 .section3 {
	margin: 15rem auto 6rem;
	width: 100%;
	position: relative;
	padding-top: 7.0rem;
}

.event3 .section3:after{
	content: '';
	width: 58.6rem;
	height: 3.5rem;
	background: url(../img/line.png) no-repeat top center/contain;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.event3 .section3::before{
	content: '';
	position: absolute;
	width: 34.7rem;
	height: 26.2rem;
	background: url(../img/event3-decoration3.png) no-repeat center center/contain;
	right: -9rem;
	bottom: -17rem;
}

.event3 .section3 h4 {
	width: 21.8rem;
	height: 3.2rem;
	background: url(../img/event3-title5.png) no-repeat center center/contain;
	margin: 0 auto 4rem;
}

.event3 .section3 ul li{
	margin:0 auto 4.5rem auto;
}

.event3 .section3 ul li:first-child {
	width: 35.5rem;
	height: 9rem;
	background: url(../img/event3-text6.png) no-repeat center center/contain;
}

.event3 .section3 ul li:nth-child(2) {
	width: 21.8rem;
	height: 32rem;
	background: url(../img/event3-text7.png) no-repeat center center/contain;
}

.event3 .section3 ul li:nth-child(3) {
	width: 28.7rem;
	height: 4.3rem;
	background: url(../img/event3-text8.png) no-repeat center center/contain;
}

.event3 .button-result1 {
	margin: 0 auto 10rem;
}

.event3 .button-result1::after {
	content: "";
	display: inline-block;
	width: 22.5rem;
	height: 3.5rem;
	/* background: url(../img/result-button1.png) no-repeat center center/contain; */
	background: url(../img/result-button2.png) no-repeat center center/contain;
}

.notice {
	width: 100%;
	background: #443b36;
	padding: 8rem 2.2rem 5rem 4rem;
}

.notice h3 {
	width: 26.8rem;
	height: 3.3rem;
	background: url(../img/notice-title.png) no-repeat left top/contain;
	margin-bottom: 5rem;
}

.notice ul li {
	font-size: 2.8rem;
	font-weight: 400;
	color: #a9a39e;
	margin-bottom: 3rem;
	position: relative;
	padding-left: 1.3rem;
	word-break: keep-all;
	letter-spacing: -0.18rem;
}

.notice ul li::before {
	content: "";
	display: inline-block;
	width: 0.5rem;
	height: 0.5rem;
	background: #666;
	border-radius: 100%;
	position: absolute;
	top: 1.5rem;
	left: 0;
}

footer {
	width: 100%;
	background: #fff;
	padding: 5rem 0 6.5rem;
	text-align: center;
}

footer p:first-child {
	width: 28rem;
	height: 6.1rem;
	background: url(../img//footer-logo.png) no-repeat center top/contain;
	margin: 0 auto 2.5rem;
}

footer p:nth-child(2) {
	font-size: 2.4rem;
	font-weight: 400;
	color: #000;
	margin-bottom: 2rem;
}

footer p:last-child {
	font-size: 2.4rem;
	font-weight: 400;
	color: #a19b94;
}

#modal {
	background: rgba(0, 0, 0, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	/* display: none; */
	z-index: -1;
	visibility: hidden;
	opacity: 0;
}

#modal.active {
	/* display: block; */
	visibility: visible;
	z-index: 20;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

.modal-container {
	width: 63.3rem;
	position: absolute;
	top: 50%;
	left: calc(50% + (100vw - 100%) / 2);
	margin-left: -31.8rem;
	/* background: #fffbf5; */
	/* padding-top: 11rem;
	padding-bottom: 8.5rem; */
}

.modal-container .modal-close {
	width: 7.6rem;
	height: 7.6rem;
	background: url(../img/modal-close.png) no-repeat center center/contain;
	position: absolute;
	top: -3.3rem;
	right: -1.7rem;
	border-radius: 100%;
}

.modal-container .modal-close:hover {
	box-shadow: inset 0 0 0 7.6rem rgba(0, 0, 0, 0.1);
}

.modal-page{
	padding-top: 11rem;
	padding-bottom: 8.5rem;
}

.modal-page .modal-title-sub {
	font-size: 2.4rem;
	font-weight: 300;
	color: #444;
	text-align: center;
	margin-top: 3.5rem;
	letter-spacing: -0.03em;
}

.modal-content .sns-facebook {
	width: 14rem;
	height: 14rem;
	background: url(../img/sns-facebook.png) no-repeat center center/contain;
}

.modal-content .sns-kakao {
	width: 14rem;
	height: 14rem;
	background: url(../img/sns-kakao.png) no-repeat center center/contain;
}

.modal-content .sns-naver {
	width: 14rem;
	height: 14rem;
	background: url(../img/sns-naver.png) no-repeat center center/contain;
}

.modal-content .form-field {
	width: 100%;
	height: 7rem;
	padding-left: 9rem;
	position: relative;
	margin-bottom: 3rem;
}

.modal-content .form-field label {
	font-size: 2.8rem;
	font-weight: 500;
	color: #6d4637;
	position: absolute;
	top: 0.9rem;
	left: 0;
    letter-spacing: -0.04em;
}

.modal-content .form-field input {
	font-size: 2.8rem;
	font-weight: 500;
	color: #444;
	width: 100%;
	height: 100%;
	background: #fff;
	padding: 0 2rem;
	border-radius: 1rem;
	border: 0.1rem solid #e4e1d8;
}

.modal-page textarea {
	outline: 0.5rem solid transparent;
}

.modal-page textarea:focus {
	outline: 0.5rem solid #4a6dbd;
	transition: outline 0.2s ease-in;
}

.modal-content .form-field input {
	outline: 0.5rem solid transparent;
}

.modal-content .form-field input:focus {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	transition: outline 0.2s ease-in;
}

.modal-content .form-field .form-address-find {
	outline: 0.5rem solid transparent;
}

.modal-content .form-field .form-address-find:focus {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
	transition: outline 0.2s ease-in;
}

.modal-content .form-insta {
	padding: 0;
	height: 13rem;
}

.modal-content .form-insta label {
	display: block;
	position: static;
	margin-bottom: 2rem;
}

.modal-content .form-insta input {
	height: 7rem;
}

.modal-content .form-address {
	height: 27.3rem;
	margin-bottom: 6rem;
	position: relative;
}

.modal-content .form-address::after {
	content: "";
	display: block;
	width: 11rem;
	height: 5.7rem;
	background: #e4e9f6;
	position: absolute;
	border-right: 0.2rem solid #bbbec7;
	top: 0;
	right: 9.4rem;
	z-index: 0;
}

.modal-content .form-address input {
	height: 7rem;
	margin-bottom: 2.6rem;
}

.modal-content .form-address input:first-of-type {
	position: relative;
	z-index: 1;
}

.modal-content .form-address input:last-of-type {
	margin-bottom: 0;
}

.modal-content .form-address .form-address-find {
	display: block;
	width: 11.3rem;
	height: 7rem;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 2.2rem;
	font-weight: 500;
	color: #fff;
	padding-left: 1.8rem;
	text-align: left;
	background: #6d4637;
	border-radius: 0 1rem 1rem 0;
	z-index: 1;
	
}

.modal-content .form-address .form-address-find::after {
	content: "";
	width: 1.8rem;
	height: 1.8rem;
	display: inline-block;
	background: url(../img/modal-postcode.png) no-repeat center center/contain;
	margin-left: 0.5rem;
    position: relative;
    top: 0.26rem;
}

.modal-content .form-agree {
	margin-bottom: 1.8rem;
	display: flex;
	padding-left: 0;
	align-items: center;
}

.modal-content .form-agree label {
	font-size: 2.6rem;
	position: static;
}

.modal-content .form-agree input{
	width: 3.4rem;
	height: 3.4rem;
	position: static;
	margin-left: 1.8rem;
}

.modal-content .form-read {
	width: 100%;
	height: 25.2rem;
	background: #efece8;
	padding: 0;
	font-size: 2rem;
	font-weight: 300;
	color: #16110d;
	overflow-y: auto;
}

.modal-content .form-read p {
	margin-bottom: 0.5em;
	padding: 0 1.5rem;
}

.modal-content .form-read p:first-child {
	padding-top: 1.2rem;
}

.modal-content .form-read p:last-child {
	margin-bottom: 1.2em;
}

.modal-content .form-read-button {
	width: 100%;
	height: 4.2rem;
	background: #fff;
	border-bottom: 0.2rem solid #c8c8c8;
	font-size: 2rem;
	font-weight: 700;
	color: #333;
}

.modal-content .form-read-button::after {
	content: "\02228";
	display: inline-block;
	transform: scale(1, 0.5);
	margin-left: 1.4rem;
}

.modal-content .form-read-button.active::after {
	content: "\02227";
	display: inline-block;
	transform: scale(1, 0.5);
	margin-left: 1.4rem;
}

.modal-event1 {
	top: 8.8rem;
	margin-top: 8.8rem;
	margin-bottom: 8.8rem;
}

.modal-event1 h3 {
	width: 10.9rem;
	height: 13.0rem;
	background: url(../img/modal-title1.png) no-repeat center center/contain;
	position: absolute;
	top: -5.8rem;
	left: 50%;
	transform: translateX(-50%);
}

.modal-event1-page1{
	height: 64.4rem;
	background: url(../img/modal-sns-bg.png) no-repeat center center/contain;
}

.modal-event1-page1 .modal-title {
	height: 7.7rem;
	background: url(../img/modal-event1-page1-title.png) no-repeat center center/contain;
}

.modal-event1-page1 .modal-content {
	width: 47.3rem;
	margin: 7rem auto 9.3rem;
	display: flex;
	justify-content: space-between;
}

.modal-event1-page1 .modal-submit::after {
	content: "";
	display: inline-block;
	width: 5.8rem;
	height: 3.1rem;
	background: url(../img/modal-button1.png) no-repeat center center/contain;
}

.modal-event1-page2{
	height: 136.9rem;
	background: url(../img/modal-infor-bg.png) no-repeat center center/contain;
}

.modal-event1-page2 .modal-title{
	height: 7.7rem;
	background: url(../img/modal-event1-page2-title.png) no-repeat center center/contain;
}

.modal-event1-page2 .modal-content {
	width: 52rem;
	margin: 7.6rem auto 6rem;
}

.modal-event1-page2 .modal-submit::after {
	content: "";
	display: inline-block;
	width: 5.5rem;
	height: 3rem;
	background: url(../img/modal-button1.png) no-repeat center center/contain;
}

.modal-event2 {
	top: 8.8rem;
	margin-top: 8.8rem;
	margin-bottom: 8.8rem;
}

.modal-event2 h3 {
	width: 10.9rem;
	height: 13.0rem;
	background: url(../img/modal-title2.png) no-repeat center center/contain;
	position: absolute;
	top: -5.8rem;
	left: 50%;
	transform: translateX(-50%);
}

.modal-event2-page1 {
	height: 146.8rem;
	background: url(../img/modal-event2-bg.png) no-repeat center center/contain;
}

.modal-event2-page1 .modal-title{
	height: 11rem;
	background: url(../img/modal-event2-title.png) no-repeat center center/contain;
}

.modal-event2-page1 .modal-title-sub{
	height: 5.5rem;
	background: url(../img/modal-event2-page1-title-sub.png) no-repeat center center/contain;
}

.modal-event2-page1 .modal-content{
	margin: 5rem auto 3rem;
}

.modal-event2-page1 .event-kit{
	height: 34.5rem;
	background: url(../img/modal-event2-kit.png) no-repeat center center/contain;
	margin-bottom: 4.5rem;
}

.modal-event2-page1 .event2-select {
	padding: 0 4.5rem 0;
}

.modal-event2-page1 .event2-select ul {
	display: flex;
	width: 100%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.modal-event2-page1 .event2-select ul li {
	margin-bottom: 5rem;
	position: relative;
}

.modal-event2-page1 .event2-select ul li::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
}

.modal-event2-page1 .event2-select ul li:hover::after{
	cursor: pointer;
}

.modal-event2-page1 .event2-select ul li.event2-select2.active::after,
.modal-event2-page1 .event2-select ul li.event2-select2:hover::after {
	width: 24.2rem;
	height: 30.1rem;
	background: url(../img/event2-radio2-check.png) no-repeat center top/24.2rem 30.1rem;
}
.modal-event2-page1 .event2-select ul li.event2-select3.active::after,
.modal-event2-page1 .event2-select ul li.event2-select3:hover::after {
	width: 26rem;
	height: 29.5rem;
	background: url(../img/event2-radio3-check.png) no-repeat center top/26rem 29.5rem;
}
.modal-event2-page1 .event2-select ul li.event2-select4.active::after,
.modal-event2-page1 .event2-select ul li.event2-select4:hover::after {
	width: 25.4rem;
	height: 29.6rem;
	background: url(../img/event2-radio4-check.png) no-repeat center top/25.4rem 29.6rem;
}
/* 210204 */
.modal-event2-page1 .event2-select ul li:not(:nth-child(1)) label {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.modal-event2-page1 .event2-select ul li input {
	visibility: hidden;
}

.modal-event2-page1 .event2-select1 {
	width: 26.3rem;
	height: 29.7rem;
	background: url(../img/event2-radio1.png) no-repeat center top/26.3rem 29.7rem;
}

.modal-event2-page1 .event2-select2 {
	width: 24.2rem;
	height: 30.1rem;
	background: url(../img/event2-radio2.png) no-repeat center top/24.2rem 30.1rem;
}

.modal-event2-page1 .event2-select3 {
	width: 26rem;
	height: 29.5rem;
	background: url(../img/event2-radio3.png) no-repeat center top/26.0rem 29.5rem;
}

.modal-event2-page1 .event2-select4 {
	width: 25.4rem;
	height: 29.6rem;
	background: url(../img/event2-radio4.png) no-repeat center top/25.4rem 29.6rem;
}

.modal-event2-page1 textarea {
	width: 47.2rem;
	height: 27.7rem;
	margin: 4.5rem auto 8rem;
	padding: 2.5rem;
	display: block;
	background: #e4e9f6;
	font-size: 2.2rem;
	font-weight: 400;
	color: #444;
	resize: none;
}

.modal-event2-page1 textarea::placeholder {
	color: #999;
}

.modal-event2-page1 textarea:-ms-input-placeholder {
	color: #999;
}

.modal-event2-page1 .modal-submit::after {
	content: "";
	display: inline-block;
	width: 10.6rem;
	height: 3rem;
	background: url(../img/modal-button2.png) no-repeat center center/contain;
}

.modal-event2-page2{
	height: 155rem;
	background: url(../img/modal-event3-page4-bg.png) no-repeat center center/contain;
}

.modal-event2-page2 .modal-title{
	height: 12.2rem;
	background: url(../img/modal-event3-page4-title.png) no-repeat center center/contain;
}

.modal-event2-page2 .modal-content {
	width: 52rem;
	margin: 5.5rem auto 6rem;
}

.modal-event2-page2 .modal-submit::after {
	content: "";
	display: inline-block;
	width: 5.8rem;
	height: 3.2rem;
	background: url(../img/modal-button1.png) no-repeat center center/contain;
}

.modal-event2-loading {
	text-align: center;
}

.modal-event2-loading img {
	width: 14.7rem;
    height: 16.5rem;
    margin: 15rem 0 10rem;
}

.modal-event2-loading .modal-text {
	font-size: 2.6rem;
    font-weight: 500;
    color: #ababab;
    text-align: center;
	margin-top: 1rem;
	margin-bottom: 15rem;
}

.modal-event2-page3-1 .modal-content {
	width: 61.4rem;
	height: 40.2rem;
	margin: 5rem 0 4.5rem 6.5rem;
}

.modal-event2-page3-2 .modal-content {
	width: 45.9rem;
	height: 35.7rem;
	margin: 7.6rem auto 9rem;
}

.modal-event2-page3-3 .modal-content {
	width: 52.7rem;
	height: 36.2rem;
	margin: 8rem 0 4.5rem 10rem;
}

.modal-event2-page3 .modal-content img {
	width: 100%;
	height: 100%;
}

.modal-event2-page3 .modal-submit::after {
	content: "";
	display: inline-block;
	width: 5.5rem;
	height: 3rem;
	background: url(../img/modal-button1.png) no-repeat center center/contain;
}

.modal-event2-page4 .modal-content {
	width: 47.3rem;
	margin: 8.8rem auto 9.3rem;
	display: flex;
	justify-content: space-between;
}

.modal-event2-page4 .modal-submit::after {
	content: "";
	display: inline-block;
	width: 5.5rem;
	height: 3rem;
	background: url(../img/modal-button1.png) no-repeat center center/contain;
}

.modal-event3 {
	top: 8.8rem;
	margin-top: 8.8rem;
	margin-bottom: 8.8rem;
}

.modal-event3 h3 {
	width: 10.9rem;
	height: 13rem;
	background: url(../img/modal-title3.png) no-repeat center center/contain;
	position: absolute;
	top: -5.8rem;
	left: 50%;
	transform: translateX(-50%);
}

.modal-event3-page1,
.modal-event3-page3{
	height: 106.2rem;
	background: url(../img/modal-event3-bg1.png) no-repeat center center/contain;
}

.modal-event3-page1 .modal-title{
	height: 12.2rem;
	background: url(../img/modal-event3-page1-title.png) no-repeat center center/contain;
}

.modal-event3-page1 .modal-title-sub,
.modal-event3-page3 .modal-title-sub{
	height: 4.3rem;
	background: url(../img/modal-event3-page1-title-sub.png) no-repeat center center/contain;
}

.modal-event3-page1 .modal-content {
	width: 47.5rem;
	height: 47.5rem;
	margin: 4.9rem auto 6rem;
}

.modal-event3-page1 .modal-content img {
	width: 100%;
	height: 100%;
}

.modal-event3-page1 .modal-submit {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.modal-event3-page1 .modal-submit::after {
	content: "";
	display: inline-block;
	width: 21.4rem;
	height: 3.2rem;
	background: url(../img/modal-button3.png) no-repeat center center/contain;
}

.modal-event3-page2 .modal-content {
	width: 47rem;
	height: 47rem;
	margin: 5.5rem auto 6rem;
}

.modal-event3-page2 .modal-content img {
	width: 100%;
	height: 100%;
}

.modal-event3-page2 .modal-submit::after {
	content: "";
	display: inline-block;
	width: 19.7rem;
	height: 3rem;
	background: url(../img/modal-button3.png) no-repeat center center/contain;
}

.modal-event3-page3 .modal-title{
	height: 12.2rem;
	background: url(../img/modal-event3-page3-title.png) no-repeat center center/contain;
}

.modal-event3-page3 .modal-content {
	width: 47.5rem;
	height: 47.5rem;
	margin: 3.5rem auto 6rem;
	position: relative;
}

.modal-event3-page3 .modal-content div.image-clip {
	display: block;
	width: 6.3rem;
	height: 6.7rem;
	position: absolute;
	bottom: 0;
	left: 0;
	background: url(../img/modal-image3.png) no-repeat center center/contain;
}

.modal-event3-page3 .modal-content div.image-clip2 {
	display: block;
	width: 6.3rem;
	height: 6.7rem;
	position: absolute;
	top: 0;
	right: 0;
	transform: rotate(180deg);
	background: url(../img/modal-image3.png) no-repeat center center/contain;
}

.modal-event3-page3 .modal-content img {
	width: 100%;
	height: 100%;
}

.modal-event3-page3 .modal-button-wrap {
	display: flex;
	justify-content: center;
}

.modal-event3-page3 .modal-back::after {
	content: "";
	display: inline-block;
	width: 27.3rem;
	height: 3.2rem;
	background: url(../img/modal-button4.png) no-repeat center center/contain;
}

.modal-event3-page3 .modal-submit::after {
	content: "";
	display: inline-block;
	width: 5.5rem;
	height: 3rem;
	background: url(../img/modal-button1.png) no-repeat center center/contain;
}

.modal-event3-page4{
	height: 155rem;
	background: url(../img/modal-event3-page4-bg.png) no-repeat center center/contain;
}

.modal-event3-page4 .modal-title{
	height: 12.2rem;
	background: url(../img/modal-event3-page4-title.png) no-repeat center center/contain;
}

.modal-event3-page4 .modal-content {
	width: 52rem;
	margin: 7.3rem auto 6rem;
}

.modal-event3-page4 .form-label-sub {
	font-size: 2.8rem;
	font-weight: 500;
	color: #444;
	letter-spacing: -0.04em;
	margin-bottom: 1.9rem;
}

.modal-event3-page4 .modal-submit::after {
	content: "";
	display: inline-block;
	width: 5.5rem;
	height: 3rem;
	background: url(../img/modal-button1.png) no-repeat center center/contain;
}

.modal-gallery {
	top: 8.8rem;
	margin-top: 8.8rem;
	margin-bottom: 8.8rem;
}

.modal-gallery h3{
	width: 10.9rem;
	height: 13.0rem;
	background: url(../img/modal-title3.png) no-repeat center center/contain;
	position: absolute;
	top: -5.8rem;
	left: 50%;
	transform: translateX(-50%);
}

.modal-gallery-page1{
	height: 83.9rem;
	background: url(../img/modal-gallery-bg.png) no-repeat center center/contain;
}

.modal-gallery-page1 .modal-content {
	width: 47.5rem;
	height: 47.5rem;
	margin: 3rem auto 6.7rem;
}

.modal-gallery-page1 .modal-content img {
	width: 100%;
	height: 100%;
}

.modal-gallery-page1 h4 {
	font-size: 3.2rem;
	font-weight: 700;
	color: #444;
	text-align: center;
	margin-bottom: 6rem;
}

.modal-gallery-page1 .modal-submit::after {
	content: "";
	display: inline-block;
	width: 5.5rem;
	height: 3rem;
	background: url(../img/modal-button1.png) no-repeat center center/contain;
}

.modal-container.modal-result {
	width: 60rem;
	margin-left: -30rem;
}

.modal-result {
	top: 8.8rem;
	margin-top: 18.4rem;
	margin-bottom: 8.8rem;
}

.modal-result .swiper-container {
	width: 100%;
	height: 100%;
}

.modal-result h3 {
	width: 60rem;
	height: 16.7rem;
	/* background: url(../img/modal-title4.png) no-repeat center center/contain; */
	background: url(../img/modal-title4-1.png) no-repeat center center/contain;
	position: absolute;
	top: -11rem;
	left: 50%;
	margin-left: -30rem;
}

.modal-result .result-slide {
	text-align: center;
	padding: 0 3.5rem;
}

.modal-result h4 {
	font-size: 3.2rem;
	font-weight: 900;
	color: #3a60b6;
}

.modal-result p {
	font-size: 3.2rem;
	font-weight: 500;
	color: #3a60b6;
}

.modal-result h5 {
	font-size: 2.6rem;
	font-weight: 400;
	color: #777;
	margin-bottom: 6rem;
}

.modal-result h5::before {
	content: "";
	display: block;
	margin: 6rem auto 2rem;
}

.modal-result .result-prize1 h5::before {
	width: 40.1rem;
	height: 23.7rem;
	background: url(../img/result-prize1.png) no-repeat center center/contain;
}

.modal-result .result-prize2 h5::before {
	width: 37.9rem;
	height: 16.6rem;
	background: url(../img/result-prize2.png) no-repeat center center/contain;
}

.modal-result .result-prize3 h5::before {
	width: 33.8rem;
	height: 33.5rem;
	background: url(../img/result-prize3.png) no-repeat center center/contain;
}

.modal-result .result-prize4 h5::before {
	width: 33.3rem;
	height: 25.4rem;
	background: url(../img/result-prize4.png) no-repeat center center/contain;
}

.modal-result .result-prize5 h5::before {
	width: 51.2rem;
	height: 32.5rem;
	background: url(../img/result-prize5.png) no-repeat center center/contain;
}

.modal-result ul {
	width: 100%;
	background: #e4e9f6;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0 5rem;
}

.modal-result .result-prize3 ul {
	justify-content: center;
}

.modal-result ul li {
	width: 18rem;
	font-size: 2.6rem;
	font-weight: 300;
	color: #222;
	padding: 1.3rem 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.modal-result .swiper-button-prev {
	background: url(../img/result-prev.png) no-repeat center center/contain;
	width: 3.6rem;
	height: 6.4rem;
	top: 90rem;
	left: -5.1rem;
}

.modal-result .swiper-button-next {
	background: url(../img/result-next.png) no-repeat center center/contain;
	width: 3.6rem;
	height: 6.4rem;
	top: 90rem;
	right: -5.1rem;
}

.modal-result .modal-close {
	top: -18.4rem;
}

@media (max-width: 720px) {
	html {
		font-size: 1.388888888888889vw;
	}
}